
.key {
	border-color: #000;
	border-radius: 4px;
	border-style: solid;
	padding: 20px;
}

.keyboard {
	margin-left: 100px;
	margin-top: 100px;
}

.top-row {

}

.middle-row {
	padding-left: 10px;
}

.bottom-row {
	padding-left: 20px;
}
.selected {
	background-color: yellow;
}