
.key {
	border-color: #000;
	border-radius: 4px;
	border-style: solid;
	padding: 20px;
}

.keyboard {
	margin-left: 10%;
	margin-top: 2%;
}
.wheels {
	font-size: 48px;
	padding-left: 20%;
}
.wheel {
	padding-left: 5%;
}
.selected {
	background-color: yellow;
}